/.idea
/target
/.env
/db.sqlite
/db.sqlite-shm
/db.sqlite-wal
/*.sqlite-journal
/.vscode
/db_test.sqlite
/db_test.sqlite-shm
/db_test.sqlite-wal
/*.sqlite
/*.sqlite-shm
/*.sqlite-wal
/*.zip
/*.txt
/.cargo
/config-payments-local.toml
/nodes.json
/config-payments.toml
/target_wsl
