div.allowance-box {
    border: 1px solid blue;
    padding: 5px;
}

div.allowance-box-body {
    position: relative;
    height: 8.5em;
    width: 100%;
}

div.allowance-box-body div.allowance-id {
    position: absolute;
    top: 0em;
}
div.allowance-box-body div.allowance-spender {
    position: absolute;
    left: 12em;
    top: 0em;
}
div.allowance-box-body div.allowance-spender-descr {
    position: absolute;
    left: 12em;
    top: 1.2em;
}
div.allowance-box-body div.allowance-spender-descr span {
    font-size: 0.9em;
}

div.allowance-box-body div.allowance-owner {
    position: absolute;
    left: 12em;
    top: 3em;
}
div.allowance-box-body div.allowance-owner-descr {
    position: absolute;
    left: 12em;
    top: 4.2em;
}
div.allowance-box-body div.allowance-owner-descr span {
    font-size: 0.9em;
}

div.allowance-box-body div.allowance-token-addr {
    position: absolute;
    left: 12em;
    top: 6em;
}

div.allowance-box-body div.allowance-allowance {
    position: absolute;
    left: 12em;
    top: 7.2em;
}

div.allowance-box-body div.allowance-allowance span {
    font-size: 0.9em;
}

div.allowance-box-body div.allowance-chain-id {
    position: absolute;
    top: 1.5em;
}

div.allowance-box-body div.allowance-confirm-date {
    position: absolute;
    left: 0em;
    top: 4em;
    font-size: 0.9em;
}

div.allowance-box-body div.allowance-tx-id {
    position: absolute;
    top: 7em;
}
